<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
  <h1 class="text-3xl font-bold text-gray-900 mb-4">
    <p-button
      class="mt-6"
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      aria-label="Back"
      (onClick)="goBack()"
    />
    Termos de Uso
  </h1>
  <p class="text-sm text-gray-600 mb-6">
    Última atualização: <span class="font-semibold"><time datetime="25/02/2025">25 de Fevereiro de 2025</time></span>
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">1. Uso da Plataforma</h2>
  <p class="text-gray-700 text-sm mb-4">
    Você deve usar o aplicativo de forma legal e ética. O uso para atividades fraudulentas, ilegais ou prejudiciais é
    proibido.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">2. Cadastro e Conta</h2>
  <p class="text-gray-700 text-sm mb-4">
    Você é responsável por manter suas credenciais seguras. Não compartilhamos suas informações com terceiros sem
    consentimento.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">3. Disponibilidade do Serviço</h2>
  <p class="text-gray-700 text-sm mb-4">
    Podemos atualizar, modificar ou interromper partes do serviço sem aviso prévio.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">4. Limitação de Responsabilidade</h2>
  <p class="text-gray-700 text-sm mb-4">Não nos responsabilizamos por danos causados pelo uso da plataforma.</p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">5. Alterações nos Termos</h2>
  <p class="text-gray-700 text-sm mb-4">
    Podemos modificar estes termos a qualquer momento. O uso contínuo da plataforma implica aceitação das alterações.
  </p>

  <p class="text-sm text-gray-600 mt-6">Caso tenha dúvidas, entre em contato conosco.</p>
</div>
