<div class="fixed top-0 left-0 w-full z-50 pr-5 bg-white flex justify-between items-center shadow-xs">
  <nav class="p-5 flex justify-center items-center space-x-4">
    <div class="flex items-center mr-20">
      <img src="assets/images/mobile-pay.png" width="40" class="mr-2" alt="" />
      <span class="text-lg font-bold">Canteen</span>
    </div>
    <p-button (click)="toggleDrawer()" icon="pi pi-bars" aria-label="Menu" variant="text" severity="secondary" />
  </nav>
  <div class="flex items-center cursor-pointer py-2 px-3 hover:bg-gray-100 rounded-lg" (click)="menu.toggle($event)">
    <img
      class="h-10 w-10 rounded-full"
      [src]="user?.avatar || 'https://ui-avatars.com/api/?name=' + user?.name"
      alt="Avatar"
    />
    <div class="ml-3 overflow-hidden">
      <p class="text-md font-bold text-gray-900">{{ user?.name.split(' ')[0] | titlecase }}</p>
      <p class="truncate text-sm text-gray-500 dark:text-gray-400">{{ user?.email }}</p>
    </div>
  </div>
</div>

<div class="card">
  <p-menu #menu [model]="profileItems" [popup]="true" class="flex justify-center" styleClass="w-full md:w-60">
    <ng-template #item let-item>
      <a [routerLink]="item.route" class="p-menu-item-link" pRipple class="flex items-center p-menu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >{{ item.shortcut }}</span
        >
      </a>
    </ng-template>
  </p-menu>
</div>

<app-drawer
  [isOpen]="isDrawerOpen()"
  [menuItems]="menuItems"
  (closeDrawer)="closeDrawer()"
></app-drawer>
<main class="w-full h-[calc(100%*100px)] mt-[80px] py-8 overflow-y-scroll flex justify-center">
  <router-outlet />
</main>
