<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
  <h1 class="text-3xl font-bold text-gray-900 mb-4">
    <p-button
      class="mt-6"
      icon="pi pi-arrow-left"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      aria-label="Back"
      (onClick)="goBack()"
    />
    🔐 Política de Privacidade
  </h1>
  <p class="text-sm text-gray-600 mb-6">
    Última atualização: <span class="font-semibold"><time datetime="25/02/2025">25 de Fevereiro de 2025</time></span>
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">1. Dados Coletados</h2>
  <p class="text-gray-700 text-sm mb-4">
    Coletamos informações fornecidas por você, como nome, e-mail e dados de uso da plataforma.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">2. Uso das Informações</h2>
  <p class="text-gray-700 text-sm mb-4">
    Utilizamos seus dados para fornecer e melhorar nossos serviços, personalizar sua experiência e garantir segurança.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">3. Compartilhamento de Dados</h2>
  <p class="text-gray-700 text-sm mb-4">
    Não vendemos suas informações. Podemos compartilhar dados apenas quando exigido por lei ou para melhorar os
    serviços.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">4. Segurança</h2>
  <p class="text-gray-700 text-sm mb-4">
    Adotamos medidas de segurança para proteger seus dados contra acessos não autorizados.
  </p>

  <h2 class="text-lg font-semibold text-gray-900 mt-4">5. Seus Direitos</h2>
  <p class="text-gray-700 text-sm mb-4">
    Você pode solicitar a exclusão ou alteração de seus dados a qualquer momento.
  </p>

  <p class="text-sm text-gray-600 mt-6">
    Ao continuar usando nossa plataforma, você concorda com esta política. Para mais informações, entre em contato
    conosco.
  </p>
</div>
